body{
    background-color: rgb(17, 16, 16);
}

canvas{
    border: 1px solid white;
    background-color: black;
}

main{
    text-align: center;
}

#gameOver{
    background-color: white;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 30px;
}

#pausa{
    font-size: xx-large;
    background-color: red;
    border-radius: 10px;
    color: white;
    position: absolute;
    top:200px;
    right: 20%;
}

canvas{
    width: 45%;
}

.painel{
    background-color: white;
    position: absolute;
    left:10%;
    top:5%;
}

#pontuacao{
    font-size: 50px;
    color: yellowgreen;
}